.main-header {
    .top-bar {
        padding: 10px 0;
        a {
            font-size: 14px;
            color: $main-color;
            &:hover {
                color: $link-hover;
            }
        }
        .phone {
            float: left;
        }
        .login {
            float: right;
            text-transform: uppercase;
        }
    }
    .navbar {
        background-color: #fff;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
        .navbar-toggle {
            float: left;
            padding: 0;
            margin-left: 15px;
            margin-top: 17px;
            margin-bottom: 17px;
            border: none;
            border-radius: 0;
            .icon-bar {
                width: 20px;
                height: 4px;
                @include border-radius(2px);
                background-color: #000000;
                & + .icon-bar {
                    margin-top: 2px;
                }
            }
        }
        > .container {
            position: relative;
        }
    }
    .logo {
        width: 58px;
        height: 17px;
        margin-bottom: 0;
        float: left;
        margin-top: 17px;
        margin-bottom: 17px;
    }
    .search-cart-holder {
        position: absolute;
        top: 14px;
        right: 23px;
        .search, .cart {
            display: inline-block;
        }
        .search {
            position: relative;
            margin-right: 10px;
         
            .form-control {
                display: block;
                width: 140px;
                height: 24px;
                border: none;
                @include border-radius(0);
                border-bottom: 1px solid #cccccc;
                box-shadow: none;
                padding-right: 20px;
                padding-top: 3px;
                padding-left: 4px;
                &:focus {
                    border-bottom-color: $link-hover;
                }
            }
            .btn {
                position: absolute;
                top: 2px;
                right: 2px;
                background-image: url("../img/search-icon.png");
                background-repeat: no-repeat;
                display: block;
                width: 17px;
                height: 17px;
                padding: 0;
                border: none;
                background-color: transparent;
                &:active {
                    box-shadow: none;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .cart {
            position: relative;
       
            .badge {
                position: absolute;
                padding: 4px 6px 3px;
                background-color: #cc0000;
                bottom: -8px;
                right: -8px;
            }
        }
    }
    .nav {
        padding-bottom: 5px;
        li{
            text-align: center;
            a{
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 5px;
                text-transform: uppercase;
                display: inline-block;
                &:hover, &:focus {
                    background-color: transparent;
                    border-bottom: 2px solid #acdacf;
                }
            }
        }
        .active {
            a {
                border-bottom: 2px solid #acdacf;
            }
        }
    }
}
@media (min-width: 768px) {
    .main-header{
        .top-bar{
            a {
                font-size: 16px;
            }
        }
        .logo {
            width: 80px;
            margin-top: 10px;
        }
        .nav{
            padding-bottom: 0;
            float: right;
            margin-right: -15px;
            li{
                &:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }
        .navbar {
            padding-top: 45px;
            padding-bottom: 45px;
            @include border-radius(0);
        }
        .search-cart-holder {
            top: -30px;
        }
    }
}
@media (min-width: 992px) {
    .main-header{
        .nav {
            padding-right: 190px;
            li {
                &:last-child {
                    margin-right: 30px;
                }
            } 
        }
        .search-cart-holder {
            top: 10px;
        }
    }
}
@media (min-width: 1200px) {
    .main-header{
        .logo {
            width: 104px;
        }
    }
}